nav ul {
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px;
}

body {
    background-color: rgb(0, 0, 0);
}

div p {
    color: rgba(0, 0, 0, 0.726);
    font-size: 24px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    text-align: center;
}

div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#rafhabotao {
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 20px;
    border: 3px solid black;
    color: rgb(0, 0, 0);
    width: 98px;
    height: 38px;
    font-size: 16px;
    padding: 1px;
    font-weight: bold;

    transition: transform 0.1s ease 0s;
}

#rafhabotao a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#rafhabotao:hover {
    transform: translateY(-10px);
    background-color: rgb(0, 0, 0);
    color: white;
}

#rafhabotao:hover a {
    transform: translateY(-10px);
    background-color: rgb(0, 0, 0);
    color: white;
}

#tiagobotao {
    position: absolute;
    top: 150px;
    right: 22%;
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 20px;
    border: 3px solid black;
    color: rgb(0, 0, 0);
    width: 98px;
    height: 38px;
    font-size: 16px;
    padding: 1px;
    font-weight: bold;

    transition: transform 0.3s ease 0s;
}

#tiagobotao a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#tiagobotao:hover {
    transform: translateY(-10px);
    background-color: rgb(0, 0, 0);
    color: white;
}

#tiagobotao:hover a {
    transform: translateY(-10px);
    background-color: rgb(0, 0, 0);
    color: white;
}

#centralizar {
    display: flex;
    flex-direction: column;
    align-items: center;
}